.Rproj.user
.Rhistory
.RData
.Ruserdata

*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.dvi
*.bcf
*.run.xml
*.xdv

.DS_Store
_targets/
_analysis/
_simulations/
_paper/
_speed/
.Rdata
.httr-oauth
.quarto
